<section id="analytics-snapshot">
    <div class="card">
        <div class="card-body">
            <div class="row" id="snapshot-cards-row">
                <div class="col-md-2 offset-md-2">
                    <div class="card diff">
                        <div class="card-body">
                            <h5>Received</h5>
                            <p>
                                <%= "0" %>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="card diff">
                        <div class="card-body">
                            <h5>Resolved</h5>
                            <p>
                                <%= "0" %>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="card diff">
                        <div class="card-body">
                            <h5>Resp. Rate</h5>
                            <p>
                                <%= "100%" %>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="card diff">
                        <div class="card-body">
                            <h5>
                                Time Saved
                                <!--<span>-->
                                <!--    <i class="fas fa-angle-down"></i>-->
                                <!--</span>-->
                            </h5>
                            <p class="diff">
                                <%= "12.35" %>
                                <span class="hrs" hours="" minutes="4k">
                                    hrs
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <section id="chart-section">
                <- CHART DATA GOES HERE ->
            </section>
        </div>
    </div>
</div>