<section id="simulator-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Test desktop alert</h3>
                <%= link_to "Test", api_twilio_trigger_path, class:"btn btn-primary diff", method: :post, remote: true %>
            </div>
        </div>
    </div>
</section>