<style type="text/css">
    nav#main-nav {
        display: none !important;
    }
    
    body {
        padding-top: 70px !important;
    }
</style>

<%= render 'layouts/alt_nav' %>

<section id="getting-started">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h1>I am a</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 offset-md-2">
                <div class="card">
                    <a href="/pharmacies">
                        <div class="card-body">
                            Pharmacist
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card">
                    <a href="/patient/login">
                        <div class="card-body">
                            Patient
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>