<section id="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bp-tagline">
                    <h1 class="banner-text">
                        Rx management, simplified
                    </h1>
                    
                    <h4 class="banner-subtext">
                        BetterPharma helps pharmacies communicate with their
                        patients more efficiently.
                    </h4>
                    
                    <button class="btn btn-primary" onclick="window.location.href='/getting-started'"
                        id="banner-get-started">
                       Get started For Free
                       <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>