<div class="text-center" id="terms-acknowledgement">
    <p>
        By continuing, you agree to BetterPharma's
        <a href="/terms">terms and conditions</a>,
        <a href="privacy">privacy policy</a>, and
        <a href="/agreement">user agreement</a>.
    </p>
</div>